<div id="<%= dom_id subscriber %>">
  <p>
    <strong>First name:</strong>
    <%= subscriber.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= subscriber.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= subscriber.phone_number %>
  </p>

</div>
